<section class="jumbotron custom-bkg">
  <!-- will change this greeting in handlebars to show user's first name or username -->

  <h1 class="display-3 custom-text">Hello!</h1>

  <p class="lead custom-text">
    Welcome to the Sport Lover homepage. From here you can either search via a location you would like to visit of a team in the Premier League, or you can search for your favourite team and see upcoming fixtures and local restaurants
  </p>
  <hr class="my-2" />
  <p class="jumbo-text custom-text">Please select one of the buttons below to begin your search!</p>
  <div class="d-flex justify-content-around mt-5 flex-wrap">
    <div class="lead d-inline">
      <button onclick="locationFunction()" class="btn btn-success btn-lg custom-btn custom-text"><i class="fa-solid fa-map-pin"> Location</i></button>
    </div>
    <div class="lead d-inline">
      <button onclick="teamFunction()" class="btn btn-success btn-lg custom-btn custom-text"><i class="fa-solid fa-futbol"> Team</i></button>
    </div>
  </div>
</section>
<section class="container custom-bkg1">
  <div class="row">
    <div class="col-10 card custom-card my-5 custom-bkg1">

      <div class="card-body custom-card-content custom-bkg">

        <div id="location">
          <h4 class="card-title custom-text" id="locationlist">Locations:</h4>

          {{#each locations as |location|}}
            <p class="m-4">
              <a class="btn btn-success btn-lg custom-btn custom-search custom-text" href="/location/{{location.id}}/{{location.location_name}}" role="button"><i class="fa-solid fa-map-pin"> {{location.location_name}}</i></a>
            </p>

          {{/each}}
        </div>

        <div id="team">
          <h4 class="card-title custom-text" id="teamlist">Teams:</h4>

          {{#each teams as |team|}}
            <p class="m-4">
              <a class="btn btn-success btn-lg custom-btn custom-search custom-text" href="/team/{{team.id}}/{{team.team_name}}" role="button"><i class="fa-solid fa-futbol"> {{team.team_name}}</i></a>
            </p>
          {{/each}}
        </div>
      </div>

    </div>
  </div>
</section>