<h2 class="custom-text1">{{team_name}}</h2>
<div class="col" id="team-content">

</div>

<!-- {{!-- Comment detail--}} -->
<div class="col mt-4 custom-bkg2">

  <h4>Reviews</h4>
  <div class="project-list">
    {{#each teamReviews as |teamReview|}}
      <div class="row mb-2">

        <div class="w-100">
          <div class="d-flex justify-content-between">
            <p class="d-inline">{{teamReview.content}}</p>
            <p class="d-inline">{{teamReview.review_score}} out of 5</p>
          </div>
          <p>Written by: {{user.firstname}} {{user.lastname}}</p>
          <hr />
        </div>
      </div>

    {{/each}}
  </div>
</div>

<script src="/js/teamscript.js"></script>